.wall-poster {
    height: 400px;
    width: 300px;
    position: relative;
    float: none;
    margin: 20px auto 0px;
    @media only screen and (min-width: $tablet) {
        height: 450px;
        width: 300px;
        float: left;
        margin-left: 20px;
    }
    @media only screen and (min-width: $desktop) {
        height: 600px;
        width: 450px;
        float: left;
        margin-left: 20px;
    }
    @media only screen and (min-width: $large-desktop) {
        height: 600px;
        width: 450px;
        float: left;
        margin-left: 20px;
    }
    &__image {
        height: 369px;
    }
}
