landing h3 {
    text-align: center;
}

.poster-container {
    height: 350px;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    @media only screen and (min-width: $tablet) {
        height: 450px;
    }
    @media only screen and (min-width: $desktop) {
        height: 840px;
    }
    &__inner{
        height: 350px;
        padding-left: calc((100vw /2) - 120px);
        position: absolute;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
        @media only screen and (min-width: $tablet) {
            height: 500px;
            padding-left: calc((100vw /2) - 150px);
            position: absolute;
        }
        @media only screen and (min-width: $desktop) {
            height: 820px;
            width: 951px;
            margin: 0 auto;
            padding-left: 0px;
            position: relative;
            left: 0px !important;
        }
    }
    &__poster{
        height: 320px;
        width: 240px;
        margin-right: 25px;
        display: inline-block;
        background-color: white;
        color: black;
        font-size: 30px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        @media only screen and (min-width: $tablet) {
            height: 400px;
            width: 300px;
        }
        @media only screen and (min-width: $desktop) {
            height: 400px;
            width: 300px;
            margin-bottom: 25px;
            display: block;
            float: left;
        }
    }
    &__poster:nth-child(3), &__poster:nth-child(6){
        @media only screen and (min-width: $desktop) {
            margin-right: 0px;
        }
    }
    &__poster:nth-child(4), &__poster:nth-child(5), &__poster:nth-child(6){
        @media only screen and (min-width: $desktop) {
            margin-bottom: 0px;
        }
    }
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }